*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.hero{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),url("../images/background.jpg");
    background-position: center;
    background-size:cover ;
    position:absolute;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 2%;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    z-index: 1;
}


.toogle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 100px;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    bottom: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;
}


.input-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 5% 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
    font-size: 16px;
}

.submmit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.checkbox{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#Login{
    left: 50px;
}


#Register{
    left:450px
}


/* --------------------Header copied code------------------------ */




.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav {
    display: flex;
    padding: 2% 6%;
    align-items: center;
    justify-content: space-between;
}


nav .logo {
    margin-right: 20px;

}

nav img {
    width: 60px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    margin-left: 10px;
}

.nav-links ul li:first-child {
    margin-left: 0;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px 8px 0;
    font-size: 18px;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after {
    width: 100%;
}